<h1> Travel Goals </h1>

<h3> Hello <%=current_traveler.name.capitalize %>! Here are your goals</h3>

<ul>
    <% current_traveler.goals.each do |goal| %>
        <li><%= link_to goal.name, goal_destinations_path(goal) %></li>
    <% end %>
</ul>


<p class="lead">
    <a class="btn btn-secondary btn-sm" href="goals/new" role="button">Create New Goal</a>
</p>

