<h3>travel inspiration page</h3>


<ul>
    <% @travelers.each do |traveler| %>
        <li><%= traveler.username.capitalize %> Travel Experience:<%= Destination.travel_experience(traveler)%>  </li>
    <% end %>
</ul>