<h3>Travel Inspiration Page</h3>

<ul>
    <% @travelers.each do |traveler| %>
        <li><%= traveler.username.capitalize %> 
            <br>
            Travel Experience:<%= Destination.travel_experience(traveler)%>  
        </li>
    <% end %>
</ul>