<h3><%= current_traveler.name.capitalize %>'s Passport</h3>



<!--
<ul>
    <% Destination.passport(@traveler).each do |t| %>  
        <li><%= t.location %>
        <br>
        <%= t.date_traveled %>
        <br>
        <%= t.description %> </li>
    <% end %>
</ul>
-->

