<h3> Welcome to Travelize</h3>

<p>A place to track your travel goals and make friends with similar interests.</p>
<p>Join us!</p>
<p><a href="/travelers/sign_in">Log in here</a> or <a href="/travelers/sign_up">Create a new account.</a></p> 